<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="su.openwifi.openwlanmap">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:configChanges="orientation|screenSize"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MapActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".AccessPointActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".RankingActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".OpenWifiMapActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".NewsActivity" android:parentActivityName=".MainActivity" />
    </application>

</manifest>